@model IList<Vidly2.Models.Customer> 
@{
    ViewBag.Title = "Customer";
}

<h2>Customer</h2>

<div>
    <div class="row">
        <div class="col-md-3">@Html.ActionLink("Create New Customer", "NewOrEditCustomer", null, new { @class = "btn btn-primary"})</div>
    </div>
    <br />

    @if (Model.Any())
    {
        <div>
            <div class="row">
                <div class="col-md-2 "><strong>Customers</strong></div>
                <div class="col-md-2"><strong>Membership Type</strong></div>
                <div class="col-md-2 "><strong>Disocunt Rate</strong></div>
                <div class="col-md-2 "><strong>Edit</strong></div>
                <div class="col-md-2 "><strong>Details</strong></div>
                <div class="col-md-2 "><strong>Delete</strong></div>
            </div>
            
            @foreach (var item in Model)
            {
                <div class="row">
                    <div class="col-md-2">@item.Name</div>
                    <div class="col-md-2">@item.MembershipType.MembershipName</div>
                    <div class="col-md-2">@item.MembershipType.DiscountRate %</div>
                    <div class="col-md-2">@Html.ActionLink("Edit", "NewOrEditCustomer", new { Id = item.Id })</div>
                    <div class="col-md-2">@Html.ActionLink("Details", "Details", new { Id = item.Id })</div>
                    <div class="col-md-2"><button class="btn btn-link js-delete" data-customer-id="@item.Id">Delete</button></div>
                </div>
            }
        </div>
    }
    else
    {
        <p>There are no customers to display</p>
    }
</div>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            
            $('.js-delete').click(function () {
                var button = $(this);   // button as an obj
                bootbox.confirm("Are you sure that you want to delete this customer?", function (result) {
                    if (result)
                    {
                        $.ajax({
                            url: "/api/CustomersApi/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                console.log("Customer deleted");
                                button.parents("div .row").remove();                  // remove div row of record in the table
                            }
                        });
                    }
                });
            });
        });
    </script>    
}