@model Vidly2.Models.CustomerFormViewModel
@{
    ViewBag.Title = "New Customer";
}

@* custom javascript in the header tag *@
@*@section JavaScriptInHeader
{
    $(function () { // will trigger when the document is ready
       $('.datepicker').datepicker(); //Initialise any date pickers
    });
}*@

@*<script type="text/javascript">
    $(function () { // will trigger when the document is ready
        $('.datepicker').datepicker(); //Initialise any date pickers
    });
</script>*@

<h2>Create New Customer</h2>

@using (Html.BeginForm("SaveCustomer", "Customers", "POST"))
{

    <div class="form-group">
        @Html.LabelFor(c => c.Name)
        @Html.TextBoxFor(c => c.Name, new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.BirthDate)
        @Html.TextBoxFor(c => c.BirthDate, new { @class = "form-control" })
        @*@Html.TextBoxFor(c => c.BirthDate, new { @class = "form-control datepicker", placeholder = "Select your birthdate" })*@
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.MembershipTypeId)
        @Html.DropDownListFor(c => c.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "MembershipName"), " select ", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.IsSubscribedToNewsletter)
        @Html.CheckBoxFor(c => c.IsSubscribedToNewsletter, new { @class = "checkbox" })
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Save</button>
        <button class="btn btn-default" type="reset">Reset</button>
    </div>
}

